@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Management</h1>
    <p class="lead">You can lend your favourite book here !! </p>
    <p class="lead">Click on the above tabs to LEND/RETURN a book </p>
</div>
